<%- include('./partial/header.ejs') %>


	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
			<form action="/login" method="POST", novalidate>
					<label for="email"> Email: </label>
					<input type="email" id="usuario" name="usuario" required value="<%= locals.oldData && oldData.usuario ? oldData.usuario : null %>">
					<% if (locals.errors && errors.email) { %>
						<div class="error">
							<%= errors.email.msg %>                                
						</div>                            
					<% } %>     
					<br>
					<br>
					<label for="">Contraseña: </label>
					<input type="password" name="password" id="password" required>
					<% if (locals.errors && errors.password) { %>
						<div class="error">
							<%= errors.password.msg %>                                
						</div>                            
					<% } %>     
					<br>
					<br>
					<label for="recordarme">Recordarme</label>
					<input type="checkbox" name="recordarme" >
					
					<button type="submit" class="btn mt-3 ml-4" >INGRESAR</button>
				</form> 
			</h2>


			
			<%- include('./partial/footer.ejs') %>
