<%- include('./partial/headerLogueado') %>


	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title">Nombre del producto</h2> 
			<p class="product-detail-description">
				<a href="./product_add">Editar</a>
			</p>
		</div>
		
		<% for( let i = 0; i < 1; i++ ) { %>

			<div class="product-detail">
				<div class="row">
					<article class="col-12 col-lg-8 product-detail-info">
						<img src="<%=productos[i].imagen %>" alt="" class="product-detail-img">
						<p class="product-detail-description">
							<%=productos[i].descripcion %>
						</p>
					</article>
					
					<div class="col-12 col-lg-4">

					<% for( let i = 0; i < 3; i++ ) { %>
							<section class="comments">
								<article>
									<img src=" <%=productos[0].comentarios[i].imagen %>" alt="">
									<div class="data">
										<p class="user">
										<strong> <a href="./profile">Nombre usuario: <%=productos[0].comentarios[i].nombreusuario %></a> </strong>
										<%=productos[0].comentarios[i].descripcion %></p>
									</div>
								</article>
							</section>
							
					<% } %>
						
	
						
						<form class="form" action="" method="get">
							<input class="form-input" type="text" value="" placeholder="Agregar comentario">
							<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
						</form>
						<hr>
					</div>
				</div>
			</div>
		</div>
			
			
		<% } %>
		
	<!-- /product detail -->

	<%- include('./partial/footer.ejs') %>
