<% if(locals.user){%>
	<%- include('./partial/headerLogueado') %>
<% } else { %>
	<%- include('./partial/header') %>
<% } %>%>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>

			<form action="/product_add" method="POST", novalidate>
				<input type="text" id="text" name="imagen"  placeholder="(imagen)" required value="<%= locals.oldData && oldData.imagen ? oldData.imagen : null %>">
				<% if (locals.errors && errors.imagen) { %>
					<div class="error">
						<%= errors.imagen.msg %>                                
					</div>                            
				<% } %>     
				<br>
				<br>
				<input type="text" name="producto" id="producto" placeholder="Nombre del producto" required value="<%= locals.oldData && oldData.producto ? oldData.producto : null %>">
				<% if (locals.errors && errors.producto) { %>
					<div class="error">
						<%= errors.producto.msg %>                                
					</div>                            
				<% } %>      
				<br>
				<br>
				<input type="text" id="descripcion" name="descripcion" placeholder="Descripcion del producto" required value="<%= locals.oldData && oldData.descripcion ? oldData.descripcion : null %>">
				<% if (locals.errors && errors.descripcion) { %>
					<div class="error">
						<%= errors.descripcion.msg %>                                
					</div>                            
				<% } %>    
				
				<button type="submit" class="btn mt-3 ml-4" >AGREGAR PRODUCTO</button>
			</form> 
			</h2>


<%- include('./partial/footer.ejs') %>
