<% if(locals.user){%>
	<%- include('./partial/headerLogueado') %>
<% } else { %>
	<%- include('./partial/header') %>
<% } %>%>



	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"> <%= product.producto %></h2> 
			<p class="product-detail-description">
				<a href="./product_add">Editar</a>
			</p>
			<form action="/delete_product/<%= product.id %>" method="POST">
				<button type="submit" class="delete-button">Borrar Producto</button>
			</form>
		</div>
		
			<div class="product-detail">
				<div class="row">
					<article class="col-12 col-lg-8 product-detail-info">
						<img src="<%=product.imagen %>" alt="<%= product.producto %>" class="product-detail-img">
						<p class="product-detail-description"><%=product.descripcion %></p>
					</article>
					
					<div class="col-12 col-lg-4">

					<% for( let i = 0; i < 3; i++ ) { %>
							<section class="comments">
								<article>
									<img src=" <%=product.Comments[i].imagen %>" alt="">
									<div class="data">
										<p class="user">
										<strong> <a href="./profile">Nombre usuario: <%=product.Comments[i].nombreusuario %></a> </strong>
										<%=product.Comments[i].descripcion %></p>
									</div>
								</article>
							</section>
							
					<% } %>
						
	
						
						<form class="form" action="/product" method="get">
							<input class="form-input" type="text" value="" placeholder="Agregar comentario">
							<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
						</form>
						<hr>
					</div>
				</div>
			</div>
		</div>
			
			
		
		
	<!-- /product detail -->

	<%- include('./partial/footer.ejs') %>
