<% if(locals.user){%>
	<%- include('./partial/headerLogueado') %>
<% } else { %>
	<%- include('./partial/header') %>
<% } %>%>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form action="/users/update/<%=usuario.id%>" method="post">
					<label for="">Email: </label>
					<input type="email" name="email" required  value="<%= usuario.email %>" >
					<% if (locals.errors && errors.email) { %>
						<div class="error">
							<%= errors.email.msg %>                                
						</div>                            
					<% } %>    
					<br>
					<br>
					<label for="">Usuario: </label>
					<input type="name" name="name" required  value="<%= usuario.name %>" >
					<% if (locals.errors && errors.name) { %>
						<div class="error">
							<%= errors.name.msg %>                                
						</div>                            
					<% } %>    
					<br>
					<br>
					<label for="">Contraseña: </label>
					<input type="password" name="password" required value="<%= usuario.password %>">
					<% if (locals.errors && errors.password) { %>
						<div class="error">
							<%= errors.password.msg %>                                
						</div>                            
					<% } %>    
					<br>
					<br>
					<label for="">Fecha de nacimiento: </label>
					<input type="date" name="fecha" required value="<%= usuario.fecha %>">
					<br>
					<br>
					<label for="">Numero de documento: </label>
					<input type="number" name="dni" required value="<%= usuario.dni %>">
					<br> 
					<br>
					<label for="">Foto de perfil: </label>
					<input type="text" name="foto" value="<%= usuario.foto %>">
					<br>
					<button type="submit" class="btn mt-3 ml-4" >EDITAR</button>
				</form>
			</h2>


			<%- include('./partial/footer.ejs') %>